#board-list {
  padding: 6px;
}

.board-list-header h3 {
  margin-top: 0;
}

.board-list-items-inner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 100%;
}


.board-list-item {
  background-color: var(--list-item-bg-color);
  border-radius: var(--radius);
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  display: flex;
  flex-direction: column;
  position: relative;
}
.board-list-item.selected {
  background-color: var(--primary-color);
  color: var(--title-color);
}


.board-list-item .board-list-item-button {
  border: none;
  border-radius: var(--radius);
  color: var(--title-color);
  cursor: pointer;
  display: flex;
  font-weight: 700;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  width: 100%;
}
.board-list-item .board-list-item-button.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.board-list-item-title {
  font-size: .75rem;
  font-weight: 700;
}

#add-board {
  color: var(--title-color);
  cursor: pointer;
  display: flex;
  font-weight: 700;
  width: 100%;
  margin-bottom: .5rem;
}
#add-board button {
  background-color: transparent;
  border: none;
  border-radius: var(--radius);
  color: var(--title-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: center;
}