#listboard {
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  width: fit-content;
}

#listboard * {
  user-select: none;
}

#listboard .inner {
  min-width: 100%;
  display: flex;
  padding: 0.5rem;
  cursor: grab;
  min-height: 100%;
}

#listboard .inner.dragging {
  cursor: grabbing;
}