#board {
  flex-grow: 1;
}

#board * {
  user-select: none;
}

#board .inner {
  min-width: 100%;
  display: flex;
  cursor: grab;
  min-height: 100%;
}

#board .inner.dragging {
  cursor: grabbing;
}

#board #item-clone {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  cursor: grabbing;
}

#board #item-clone * {
  pointer-events: none;
}


#board #item-clone button {
  width: 218px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}