.list, .add-list {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-width: 250px;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}

.add-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 3rem;
  margin-left: 1.5rem;
}

.add-list button {
  width: 100%;
}

.list:first-child {
  margin-left: 3rem;
}
.list {
  background-color: var(--list-bg-color);
  margin-left: 1.5rem;
  border-radius: var(--radius);
  overflow: hidden;
  height: fit-content;
  cursor: initial;
  box-shadow: 2px 2px 8px -3px rgba(0, 0, 0, .3);
  border: 1px solid rgba(0, 0, 0, .025);
  /* transition: all .15s ease; */
  transition: scale .3s ease;
}

.list.drop-target {
  margin-left: calc(250px + 3rem);
}

.list-footer {
  padding: .5rem;
  display: flex;
  gap: .5rem;
  align-items: center;
}

.list-header {
  display:flex;
  padding: .75rem;
  gap: .5rem;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  background: #333;
}
@media (prefers-color-scheme: light) {
  .list-header {
    background: #fafafa;
  }
}

.list-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  flex-grow: 1;
  font-weight: bold;
  font-size: 20px;
  color: var(--title-color);
  border: 0;
  background: transparent;
  width: 100%;
  padding: .25rem .5rem;
  cursor: grab;
  margin: 0;
}

.list-title.editing {
  cursor: unset;
}



.list-actions {
  position: relative;
}

.list-actions-menu {
  position: absolute;
  right: 0;
  white-space: nowrap;
  background-color: var(--list-actions-menu-bg-color);
  padding: .5rem;
  border-radius: var(--radius);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
  z-index:1;
}

.list-actions-menu button {
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: right;
  font-weight: 400;
  opacity: .75;
  font-size: .85rem;
}

.list-items {
  padding: 0.75rem 0.5rem;
}

.list-items-inner {
  background-color: rgba(0, 0, 0, 0.05);
  gap: .5rem;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  border-radius: var(--radius);
  transition: background-color .15s ease, padding .1s ease;
}

.list-items.dragging .list-items-inner {
  background-color: rgba(0, 0, 0, 0.15);
}

.list-items.dragging button {
  border-color: transparent;
}

@media (prefers-color-scheme: light) {
  .list-items.dragging .list-items-inner {
      background-color: rgba(0, 0, 0, 0.1);
    }
}

.list-items.dragging.last .list-items-inner {
  padding-bottom: 3.5rem;
}

.list-item {
  padding: .5rem;
  background-color: var(--list-item-bg-color);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  gap: .5rem;
  transition: margin-top .15s ease;
}

.list-item.drop-target {
  margin-top: 3rem;
}

.list-item.default {
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  padding: .5rem;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  gap: .5rem;
  text-align: center;
  opacity: .5;
}

.add-list-item {
  padding: .5rem;
  border-radius: var(--radius);
  display: block;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  text-align: center;
  width: 100%;
}