:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color);
  
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --header-bg-color: #1a1a1a;
  --list-bg-color: #2c2c2c;
  --list-actions-menu-bg-color: #4a4a4a;
  --list-item-bg-color: #3a3a3a;
  --add-list-item-bg-color: #313131;
  --radius: 8px;
  --color: #e6e6e6;
  --title-color: #ffffff;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--header-bg-color);
  width: 100vw;
}
button {
  border-radius: var(--radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.icon-button {
  padding: .5rem;
  display: flex;
  background-color: transparent;
}


.title-text {
  font-size: 1.5em;
  font-weight: 500;
  color: var(--title-color);
}



@media (prefers-color-scheme: light) {
  :root {
    --color: #213547;
    --title-color: #000000;
    background-color: #ffffff;
    --header-bg-color: #ebecf0;
    --list-bg-color: #f1f2f6;
    --list-actions-menu-bg-color: #ffffff;
    --list-item-bg-color: #fcfcff;
    --add-list-item-bg-color: #f2f2f4;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
